.footer-socials {
   display: grid;
   gap: 10px;
   padding-bottom: 20px;
   grid-auto-flow: row;
}

.socials {
   display: grid;
   gap: 10px;
   grid-auto-flow: column;
   padding-bottom: 10px;
   width: 30px;
   text-decoration: none;
}

.socials a, a:visited, a:active {
    color: var(--color-primary);
}

.footer-apps {
   display: grid;
   grid-auto-flow: column;
   gap: 10px;
}

.footer-apps img {
   width: 130px;
   height: auto;
}